In [9]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [11]:
df = pd.read_csv('C:/Users/DELL/Downloads/ML/Data/place.csv')
X = df.iloc[:,1:3]
y = df.iloc[:,-1]
df

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

# Train Test Split

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression()
logr.fit(X_train,y_train)
y_pred = logr.predict(X_test)

print("Test data accuracy:",accuracy_score(y_test, y_pred))

Test data accuracy: 0.85

# Cross Validation

In [14]:
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [15]:
# K-Fold
logr1=LogisticRegression()
score=cross_val_score(logr1,X,y,cv=5)

print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation (Test data accuracy): {}".format(score.mean()))

Cross Validation Scores are [0.85 0.95 0.95 0.85 0.9 ]
Average Cross Validation (Test data accuracy): 0.9

In [16]:
#Stratified KFold is used for imbalanced data

logr2=LogisticRegression()
score=cross_val_score(logr2,X,y,cv= StratifiedKFold(5))

print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation (Test data accuracy): {}".format(score.mean()))

Cross Validation Scores are [0.85 0.95 0.95 0.85 0.9 ]
Average Cross Validation (Test data accuracy): 0.9