In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
# 1 for female and 0 for male

In [24]:
df= pd.read_csv("MaleFemale.csv")

In [25]:
df

   Unnamed: 0  Height  weight  FeetSize  Year     Sex
0         NaN     166      57       240     1  female
1         NaN     178      92       265     1    male
2         NaN     167      80       270     1    male
3         NaN     168      52       245     2    male
4         NaN     155      60       235     2  female
5         NaN     163      45       230     2  female
6         NaN     160      53       235     3  female
7         NaN     180      77       260     4    male
8         NaN     167      71       260     2    male
9         NaN     160      51       245     2  female

In [26]:
X=df[['Height','weight','FeetSize','Year']]

In [27]:
X

   Height  weight  FeetSize  Year
0     166      57       240     1
1     178      92       265     1
2     167      80       270     1
3     168      52       245     2
4     155      60       235     2
5     163      45       230     2
6     160      53       235     3
7     180      77       260     4
8     167      71       260     2
9     160      51       245     2

In [28]:
y=df['Sex']

In [29]:
y

0    female
1      male
2      male
3      male
4    female
5    female
6    female
7      male
8      male
9    female
Name: Sex, dtype: object

In [30]:
#Dataset splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.50,random_state=1)

In [31]:
#Train Model 
from sklearn import tree
r=tree.DecisionTreeClassifier()
r.fit(X_train, y_train)

#predict
pred=r.predict(X_test)

In [32]:
r.predict([[150,58,215,2]])

array(['female'], dtype=object)

In [33]:
#accuracy
r.score(X_test,y_test)

0.6

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report

In [41]:
accuracy_score(y_test,pred)

0.6

In [42]:
confusion_matrix(y_test,pred)

array([[2, 2],
       [0, 1]])

In [43]:
classification_report(y_test,pred)

'              precision    recall  f1-score   support\n\n      female       1.00      0.50      0.67         4\n        male       0.33      1.00      0.50         1\n\n   micro avg       0.60      0.60      0.60         5\n   macro avg       0.67      0.75      0.58         5\nweighted avg       0.87      0.60      0.63         5\n'

In [44]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

      female       1.00      0.50      0.67         4
        male       0.33      1.00      0.50         1

   micro avg       0.60      0.60      0.60         5
   macro avg       0.67      0.75      0.58         5
weighted avg       0.87      0.60      0.63         5